@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$VERDE: #BFDE43;
$AMARELO: #E8D73A;
$BRANCO: #FFF;
$PRETO: #000;
$FONT-FAMILY: "Open Sans", sans-serif;
$FONT-SIZE-LG: 3.2rem;
$FONT-SIZE-MD: 2.4rem;
$FONT-SIZE-SM: 1.6rem;
$FONT-SIZE-BTN: 2rem;